{% extends "base.html" %}

{% block content %}
    <h1>λямбда</h1>
    <p>Инновационная социальная сеть с открытым исходным кодом и возможностью настройки под себя практически всего! Вы с лёгкостью можете создать приложение или установить по кнопке ниже.</p>
    <a href="#" class="btn">Скачать</a>
    <hr>
    <h2>🟣 Лёгкий и понятный интерфейс</h2>
    <p>Интерфейс приложения интуитивно прост и понятен.</p>
    <h2>🟣 Лёгкая регистрация</h2>
    <p>Регистрация не требует ничего не возможного, вам не надо зубрить пароли, заполнять огромные анкеты или ждать! Всё что надо это почта, на неё придёт 6-тизначный код, который надо будет вводить при входе и регистрации.</p>
    <h3>🟣 Мы на стадии разработки и улучшений</h3>
    <p>В данный момент мы на стадии разработки, и любая помощь будет поощряться! Вы можете внести неоценимый вклад в проект, найдя баг или предложив новую идею для разработчиков!</p>
{% endblock content %}